:root {
  --primary-blue-color: #1b50b3;
  --primary-gray-color: #8e9baa;
  --primary-black-color: #455a78;
  --secondary-blue-color: #535dcd;
  --secondary-gray-color: #8b9eba;
  --third-blue-color: #e6e6e6;
  --point-red-color: #bf7e7b;
  --white-color: #fdfdfd;
}
