.comment {
  &--reply {
    padding-left: 20px;
    border-left: 1px solid #999;
  }
  &__content {
    &--edit {
      border: 1px solid #999;
      border-radius: 10px;
      cursor: text;
    }
  }
}
