@use "../util/" as *;

.form {
  &__box {
    padding: rem(20);
    margin-bottom: rem(10);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: rem(12);

    background-color: var(--white-color);
    border-radius: rem(5);
    &--edit {
      padding: 0;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: rem(12);
    }
  }
  &__content {
    grid-column: 1/3;
    border-radius: rem(5);
    padding: rem(8);
    border: 1px solid var(--light-gray-color);
    resize: none;
    &:focus {
      outline: none;
      border: 1px solid var(--dark-blue-color);
    }
    &--edit {
      grid-column: 1/2;
    }
  }

  &__btn {
    width: rem(64);
    height: rem(28);
    align-self: center;
    justify-self: flex-end;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: rem(5);
    font-size: rem(12);
    font-weight: 500;
    color: var(--white-color);
    text-transform: uppercase;

    background-color: var(--main-blue-color);
  }
}
