@use "../util/" as *;

.header {
  height: rem(80);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-gray-color);
  border-bottom-left-radius: rem(32);
  border-bottom-right-radius: rem(32);
  &__nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__logo {
    font-size: rem(20);
    font-weight: 600;
    color: var(--alert-red-color);
  }
  &__user {
    width: rem(28);
    height: rem(28);
    background-image: url("../assets/avatars/image-juliusomo.png");
    background-size: cover;
    cursor: pointer;
    @include breakpoint-up(medium) {
      &::after {
        content: "morning!";
        display: inline-block;
        padding: rem(4) rem(8);
        background-color: var(--alert-red-color);
        border-radius: rem(16);
        transform: translate(rem(48), rem(4));
        color: var(--white-color);
        font-size: rem(12);
        font-weight: 600;
      }
    }
  }
}
