* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #daaa32;
}

.container {
  max-width: 400px;
  margin: 100px auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  max-width: 400px;
}

.search-form #search {
  z-index: 2;
  width: 120%;
  height: 60px;
  left: -10%;
  text-align: center;
  outline: 0;
  padding: 4px 12px;
  border: 6px solid #ddd;
  border-radius: 5px;
  font-size: 24px;
  box-shadow: 0 0 20px rgba(118, 118, 118, 0.5);
  position: relative;
}

.suggestions {
  position: relative;
}

.suggestions li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  list-style: none;
  text-transform: capitalize;
}

.suggestions li:nth-child(even) {
  transform: perspective(600px) rotateX(20deg) translateY(0px) scale(1.01);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.suggestions li:nth-child(odd) {
  transform: perspective(600px) rotateX(-20deg) scale(1.01) translateY(1px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

.hl {
  background-color: #daaa32;
}
