:root {
  --primary-color: rgb(128, 206, 65);
  --secondary-color: rgb(18, 15, 15);
  --text-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
}

header {
  /* border: 1px solid red; */
  color: var(--secondary-color);
  font-size: 120px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
}

section {
  display: grid;
  grid-template-rows: repeat(5, 150px);
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.box {
  border-radius: 5px;
  cursor: pointer;
  line-height: 120px;
  font-size: 50px;
  align-self: center;
  height: 120px;
  width: 120px;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  transform: translateY(-100px);
  transition: 200ms;
  opacity: 0;
}

.box-effect {
  transform: translateY(0);
  opacity: 1;
}

footer {
  margin: 40px;
  color: var(--secondary-color);
  height: 200px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}
