/* footer */
.footer {
  width: 20rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: 0.875rem;
  border-bottom: 1px solid #999;
}
