* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
}
.container {
  display: grid;
}

.header-box {
  background-color: rgb(93, 135, 147);
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 120px;
}
.logo {
  font-weight: 700;
  color: aliceblue;
}
.login-box {
  margin: 10px;
  display: grid;
  grid-template-columns: 100px 100px 50px;
  grid-template-rows: 30px;
  gap: 10px;
}

.btn {
  color: #fff;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  border: 0;
  border-radius: 0.2em;
}

.login-btn {
  color: black;
}
.todo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  border-radius: 0.5em;
  /* background-color: rgb(181, 166, 166); */
  gap: 20px;
}
.add-todo-text {
  text-align: center;
  height: 100px;
  width: 300px;
}

.add-todo-btn {
  background-color: rgb(163, 163, 163);
  height: 20px;
  width: 20px;
}

.todo-item-box {
  margin-top: 40px;
  /* background-color: rgb(136, 35, 35); */
  justify-self: center;
}

.item {
  width: 200px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.item-list {
  font-weight: 500;
  flex: auto;
  list-style: none;
}
.item-remove {
  width: 20px;
  background-color: rgb(33, 93, 116);
}

.item-finished {
  width: 20px;
  background-color: rgb(76, 147, 175);
}

.finished {
  text-decoration: line-through;
  background-color: rgb(239, 230, 182);
}
