@use "../util/" as *;

.comment {
  margin: rem(40) auto;
  width: rem(320);
  &__box {
    padding: rem(20);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: rem(16);

    background-color: var(--white-color);
    border-radius: rem(10);
  }
  &__info {
    grid-column: 1/3;
  }
  &__content {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  &__likes {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  &__function {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
