@use "../util/" as *;

.comment {
  margin: rem(40) auto;
  width: rem(320);
  &__type {
    &--reply {
      border-left: 1px solid var(--light-blue-color);
    }
  }
  &__box {
    padding: rem(20);
    margin-bottom: rem(16);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: rem(16);

    background-color: var(--white-color);
    border-radius: rem(10);
    &--reply {
      margin-left: rem(24);
    }
    &--send {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 0;
    }
  }
  &__info {
    grid-column: 1/3;
  }
  &__content {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  &__likes {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  &__function {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  &__add {
    grid-column: 1/3;
  }
  &__send {
    grid-column: 1/3;
  }
}
