@use "../util/" as *;

.function {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: rem(16);
  &__btn {
    display: flex;
    align-items: center;
    gap: rem(8);
    font-size: rem(14);
    font-weight: 600;
    border: none;
    background-color: var(--white-color);
    color: var(--dark-blue-color);
    cursor: pointer;
    &--alert {
      color: var(--alert-red-color);
    }
  }
  &__icon {
    width: rem(12);
    height: rem(12);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &--reply {
      background-image: url("../../assets/svg/icon-reply.svg");
    }
    &--delete {
      background-image: url("../../assets/svg/icon-delete.svg");
    }
    &--edit {
      background-image: url("../../assets/svg/icon-edit.svg");
    }
  }
}
