@use "../util/" as *;

.info {
  display: flex;
  align-items: center;
  gap: rem(12);
  &__image {
    width: rem(28);
    height: rem(28);
    background-size: cover;
    &--user {
      background-image: url("../assets/avatars/image-juliusomo.png");
    }
    &--other {
      background-image: url("../assets/avatars/image-maxblagun.png");
    }
  }
  &__name {
    font-size: rem(14);
    font-weight: 600;
    color: var(--dark-blue-color);
    display: flex;
    align-items: center;
    &--user::after {
      content: "you";
      display: inline-block;
      padding: rem(2) rem(4);
      margin-left: rem(8);
      background-color: var(--main-blue-color);
      font-size: rem(10);
      font-weight: 400;
      color: var(--white-color);
    }
  }
  &__date {
    font-size: rem(14);
    font-weight: 400;
    color: var(--gray-blue-color);
  }
}
