* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  margin-bottom: 40px;
  text-align: center;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custom-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.start-btn {
  cursor: pointer;
  color: aliceblue;
  width: 80px;
  height: 20px;
  border-radius: 0.5rem;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: rgb(0, 0, 0);
  border: 0;
}

.card-box {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px;
  /* grid-template-rows: 180px 180px; */
  gap: 40px;
  margin-bottom: 80px;
}

.card {
  cursor: pointer;
  position: relative;
  transform: scale(100%);
  transform-style: preserve-3d;
  transition: all 0.5s;
}
.card:active {
  transform: scale(97%);
  transition: transform 0.2s;
}

.front-card {
  background-image: url("image/img-01.png");
  transform: rotateY(180deg);
}
.back-card {
  background-image: url("image/img-bgc.png");
}
.front-card,
.back-card {
  border: 2px solid rgb(250, 209, 181);
  box-shadow: 1px 6px 20px rgb(223, 223, 223);
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  backface-visibility: hidden;
}
.card.flip {
  transform: rotateY(180deg);
}
.score-box {
  height: 100px;
  width: 200px;
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.point,
.step {
  font-size: 20px;
}
