:root {
  --card-bgc-color: hsl(0, 0%, 98%);
  --window-bgc-color: hsl(230, 100%, 99%);
  --main-text-color: hsl(225, 20%, 60%);
  --second-text-color: hsl(227, 35%, 25%);

  --toggle-bgc-color: hsl(223, 50%, 87%);
  --slider-empty-color: hsl(224, 65%, 95%);
  --slider-full-color: hsl(174, 77%, 80%);
  --slider-bgc-color: hsl(174, 86%, 45%);
  --discount-bgc-color: hsl(14, 92%, 95%);
  --discount-text-color: hsl(15, 100%, 70%);
  --cta-text-color: hsl(226, 100%, 87%);
}

html {
  font-family: "Manrope", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.bgc {
  position: relative;
  height: 40%;
  background-color: var(--window-bgc-color);
  border-bottom-left-radius: 10rem;
}
.container {
  min-width: 31.25rem;
  /* background-color: var(--card-bgc-color); */
  padding: 0.5rem;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}
.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.header h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--second-text-color);
}
.header h3 {
  font-size: 16px;
  margin-bottom: 4px;
  color: var(--main-text-color);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--card-bgc-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card__price-info {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.card__info {
  font-size: 16px;
  font-weight: 600;
  color: var(--main-text-color);
  text-transform: uppercase;
}

/* .card__range {
  width: 100%;
} */
