:root {
  --main-color: #b23a48;
  --second-color: #da7166;
  --third-color: #8c2f39;
  --forth-color: #e2d6d7;
  --gray-color: #9f9d9d;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}
body {
  display: flex;
  justify-content: center;
}

#root {
  width: calc(100vw - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Navbar */
.header {
  height: 10rem;
  width: 75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 6.25rem;
}

.nav__logo img {
  width: 5.5rem;
  cursor: pointer;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 3.75rem;
}

.icons {
  cursor: pointer;
}
.icons img {
  width: 1.25rem;
}

button.icons {
  background-color: transparent;
  border: none;
}

/* Home page */

.show__info {
  position: relative;
}

.show__info img {
  width: 75rem;
  height: 37.5rem;
  object-fit: cover;
}

.info__content {
  position: absolute;
  top: 50%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}

.content__text {
  font-size: 1rem;
}

.content__button {
  padding: 0.25rem;
  width: 6.25rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--second-color);
  font-size: 0.75rem;
  cursor: pointer;
}

.content__button a {
  text-decoration: none;
  color: #fff;
}

.dots {
  position: absolute;
  bottom: 0.25rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.5rem;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--forth-color);
}

.active-dot {
  background-color: var(--second-color);
}

.btn {
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--forth-color);
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  opacity: 0.6;
}

.btn:hover {
  opacity: 1;
}
.btn--left {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.btn--right {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

/* Products page */
.products__container {
  display: flex;
  width: 75rem;
  justify-content: space-between;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2.5rem;
}
.product__card {
  text-decoration: none;
}

.product__card .card__img {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
}

.product__card .card__fav {
  width: 0.625rem;
  height: 0.625rem;
  object-fit: left;
}

.info__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}

.info__title p {
  font-size: 0.75rem;
  color: var(--gray-color);
}

.info__price {
  font-size: 0.75rem;
  font-weight: 700;
  color: #000;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.sidebar a {
  width: 7.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--forth-color);
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

a.item__sale {
  color: var(--second-color);
}

a.active {
  background-color: var(--main-color);
  color: #fff;
}
