[data-theme="white"] {
  --main-color: #e94d5d;
  --second-color: #d14b5c;
  --third-color: #e4dadc;
  --gray-color: #8a8787;
  --white-color: #ffffff;
  --dark-color: #06070e;
  --alert-color: #cf687c;
  --low-level-color: #4aacdd;
  --medium-level-color: #fdc658;
  --high-level-color: #f97f9a;
}
[data-theme="dark"] {
  --main-color: ;
  --second-color: ;
  --third-color: ;
  --gray-color: ;
  --white-color: ;
  --dark-color: ;
  --alert-color: ;
  --low-level-color: ;
  --medium-level-color: ;
  --high-level-color: ;
}
