[data-theme="white"] {
  --main-color: #e94d5d;
  --second-color: #d14b5c;
  --third-color: #e4dadc;
  --gray-color: #8a8787;
  --white-color: #ffffff;
  --dark-color: #06070e;
  --project-color: #cf97a2;
  --low-level-color: #254660;
  --medium-level-color: #f6ae2d;
  --high-level-color: #c14953;
}
[data-theme="dark"] {
  --main-color: ;
  --second-color: ;
  --third-color: ;
  --gray-color: ;
  --white-color: ;
  --dark-color: ;
  --alert-color: ;
  --low-level-color: ;
  --medium-level-color: ;
  --high-level-color: ;
}
