.main {
  width: calc(100vw - 2rem);
}

@media (min-width: 31.25em) {
  .main {
    width: calc(100vw - 4rem);
  }
}

@media (min-width: 48em) {
  .main {
    width: 43.74rem;
  }
}

@media (min-width: 75em) {
  .main {
    width: 57.5rem;
  }
}

.main__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
