:root {
  --font-family: "Roboto", sans-serif;

  --main-color: #93aab1;
  --second-color: #f4f4f4;
  --third-color: #d8d4d4;
  --dark-color: #555555;
  --gray-color: #dee4e9;
  --white-color: #fffffb;
  --hint-color: #bfb7b7;

  --main-radius: 0.5rem;
  --second-radius: 0.25rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-color);
  margin-bottom: 2rem;
}

header > h1 {
  font-size: 1.875rem;
  color: var(--second-color);
}

section {
  margin-bottom: 3rem;
}

.btn__add {
  padding: 1rem;
  margin-bottom: 2rem;
  border: none;
  background-color: var(--main-color);
  font-weight: 700;
  color: var(--white-color);
  border-radius: var(--main-radius);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.user__info {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.user__info > h3 {
  color: var(--dark-color);
  text-transform: uppercase;
}
section > p {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--hint-color);
  text-transform: capitalize;
}
.user__image {
  width: 3rem;
  height: 3rem;
  background-color: var(--gray-color);
  background-image: url(./image/member-04.svg);
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: #93aab1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 2;
}

.form {
  width: 20rem;
  padding: 2rem;
  position: absolute;
  background-color: var(--gray-color);
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--main-radius);
  text-align: center;
  text-transform: capitalize;
}
.form > h3 {
  color: var(--dark-color);
  margin-bottom: 2rem;
}
.input__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.input__box > label {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--dark-color);
}
.input__box > input {
  padding: 0.25rem;
  background-color: var(--second-color);
  border: none;
  outline: none;
  border-radius: var(--second-radius);
  width: 70%;
}

.input__box > .radio {
  font-size: 0.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--dark-color);
}

.submit {
  padding: 0.25rem 0.75rem;
  background-color: var(--main-color);
  border: 0;
  border-radius: var(--main-radius);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  text-transform: capitalize;
  color: var(--white-color);
  cursor: pointer;
}

.hidden {
  display: none;
}

.book__list {
  min-width: 25rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  background-color: var(--second-color);
  border-radius: var(--main-radius);
  /* text-align: center; */
}
.book__list > p {
  color: var(--dark-color);
}

.list__box {
  padding-bottom: 1.25rem;
  border-bottom: 1px solid var(--third-color);
  color: var(--dark-color);
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

.title {
  letter-spacing: 0.05rem;
  margin-bottom: 0.25rem;
}
.author {
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}
.page {
  font-size: 0.875rem;
  font-weight: 400;
}

.btn__read {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  border: none;
  border-radius: var(--main-radius);
  background-color: var(--third-color);
  color: var(--white-color);
  cursor: pointer;
}
.btn__read--true {
  background-color: var(--dark-color);
  color: var(--white-color);
}
