.header {
  display: flex;
  padding: 2rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 1.875rem;
    height: 1.875rem;
    background-image: var(--logo);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
  }
  &__title {
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--dark-color);
  }
}
