.info {
  &__title {
    padding: 0.25rem 1rem;
    font-size: 1.25rem;
    color: var(--white-color);
    text-transform: capitalize;
    background-color: var(--main-color);
  }
  &__user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__name {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--dark-color);
  }
  &__image {
    width: 3rem;
    height: 3rem;
    background-color: var(--third-color);
    background-image: url("../assets/user.svg");
    border-radius: 50%;
  }
  &__theme {
    padding: 0rem 0.25rem;
    border: 1px solid var(--gray-color);
    border-radius: 1rem;
    & > input {
      opacity: 0;
      cursor: pointer;
    }
  }
}
.theme {
  position: relative;
  &__toggle {
    width: calc(100% / 2);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.8);
    background-color: var(--gray-color);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}
#theme__dark:checked ~ .theme__toggle {
  left: 0;
}
#theme__white:checked ~ .theme__toggle {
  left: 50%;
  background-color: var(--third-color);
}
