.info {
  &__title {
    padding: 0.25rem 1rem;
    font-size: 1.25rem;
    color: var(--white-color);
    text-transform: capitalize;
    background-color: var(--main-color);
  }
  &__user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__name {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--dark-color);
  }
  &__image {
    width: 3rem;
    height: 3rem;
    background-color: var(--third-color);
    background-image: url("../assets/user.svg");
    border-radius: 50%;
  }
}
