.main {
  display: grid;
  grid-template-columns: 1fr;
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__tasks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
