.tasks {
  &__function {
    display: flex;
    justify-content: space-between;
  }
  &__message {
    height: 1.25rem;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.25rem;
    color: var(--second-color);
    background-color: var(--third-color);
    opacity: 0;
  }
  &__form {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }
  &__overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--third-color);
    opacity: 0.5;
  }
}
.hidden {
  display: none;
}
