.task {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__box {
    width: 100%;
    padding: 1rem 0.5rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: var(--white-color);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    &[data-priority="1"] {
      border-left: 3px solid var(--low-level-color);
    }
    &[data-priority="2"] {
      border-left: 3px solid var(--medium-level-color);
    }
    &[data-priority="3"] {
      border-left: 3px solid var(--high-level-color);
    }
  }
  &__time {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
  }
  &__project {
    padding: 0.1rem 0.5rem;
    background-color: var(--second-color);
    border-radius: 0.5rem;
    color: var(--white-color);
  }
  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  &__btn {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-color);
    background-color: var(--white-color);
    font-size: 0.5rem;
    color: var(--gray-color);
    cursor: pointer;
    &:hover {
      border: 1px solid var(--main-color);
      color: var(--main-color);
    }
  }
  &__alert {
    margin-top: 3rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--dark-color);
  }
}
