.titles {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  padding: 0.5rem 0.5rem;

  &__item {
    font-size: 0.875rem;
  }
}
