#form {
  padding: 3rem;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e1e1e1;
  border-radius: 0.5rem;
}
.form__title {
  margin-bottom: 1rem;
  color: #262626;
}
.form__info,
.form__education,
.form__job {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.form__label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #565656;
}

.form__input {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form__input input,
.form__input textarea {
  padding: 0.25rem;
  width: 100%;
  border: 1px solid #979b9d;
  border-radius: 0.25rem;
  background-color: #f3f3f3;
  outline: none;
}

.form__input textarea {
  resize: none;
  outline: none;
}

.form__btn {
  padding: 0.25rem;
  width: 100%;
  background-color: #74818a;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}
.form__btn:hover {
  transform: scale(0.99);
}
.form__btn--education,
.form__btn--job {
  background-color: #817372;
}

.form__btn--edit {
  background-color: #9c9696;
  margin-bottom: 0.5rem;
}

.form__btn--print {
  background-color: #9c9696;
  margin-bottom: 0.5rem;
}
