.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}
.card__item {
  width: 100%;
  height: 10rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000;
  border-radius: 0.5rem;
  cursor: pointer;
}

.card__item:hover {
  opacity: 0.8;
  background-color: #ebebeb;
}

img {
  width: 100%;
  height: 100%;
}
